/*!
 *
 *
 * Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 *
 */
/*********************
  Mixins
**********************/
/*********************
  VARIABLES
**********************/
/*********************
  GENERAL
**********************/
html,
body {
  height: 100%;
}

/*********************
  MAIN IMAGE
**********************/
.full-bg-img {
    background: url("transparent.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #4285F4;
}
